.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
media/**
images/**
_TODO/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
